<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReservaAI</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  <header>
    <h1>ReservaAI</h1>
    <h2>Reserve sua sala agora mesmo</h2>
  </header>
  <main>
    <p>
      Bem-vindo ao ReservaAI! Nosso sistema permite que você reserve salas de forma rápida e prática, 
      garantindo que você tenha o espaço ideal para suas reuniões, eventos ou estudos. 
      Com apenas alguns cliques, encontre a sala perfeita e aproveite a conveniência de um processo de reserva eficiente.
    </p>
  </main>
  <footer>
    <p>&copy; 2025 ReservaAI. Todos os direitos reservados.</p>
  </footer>
</body>
</html>